body {
  display: flex;
  max-width: 960px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  margin-right: 0px;
  padding: 0px;
  border: 0px;
}

.square {
  display: flex;
  width: 10px;
  height: 10px;
  background-color: blueviolet;
  margin: 0px;
}

.animated-square {
  background-color: palevioletred;
}

.btn {
  margin-top: 50px;
  width: 100px;
  height: 75px;
  background-color: aqua;
  align-self: center;
}
